@import "./base/base.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "primary-family";
		src: url(/fonts/primary-Regular.woff2) format("woff2");
		font-style: normal;
		font-weight: normal;
		font-display: block;
	}
	@font-face {
		font-family: "primary-family";
		src: url(/fonts/primary-Italic.woff2) format("woff2");
		font-style: italic;
		font-weight: normal;
		font-display: block;
	}
	@font-face {
		src: url(/fonts/primary-Bold.woff2) format("woff2");
		font-family: "primary-family";
		font-style: normal;
		font-weight: bold;
		font-display: block;
	}
	@font-face {
		src: url(/fonts/primary-BoldItalic.woff2) format("woff2");
		font-family: "primary-family";
		font-style: italic;
		font-weight: bold;
		font-display: block;
	}

	/* 
	DAISY OVERRIDES
	*/
	.btn {
		padding-left: 1.25em !important;
		padding-right: 1.25em !important;
		padding-top: 0.25em;
		padding-bottom: 0.25em;
		line-height: 1 !important;
		font-weight: 400 !important;
		height: auto !important;
	}
}
